<% if model.errors.full_messages.any? %>
  <% model.errors.full_messages.each do |error_message| %>
    <div class="alert alert-danger" role="alert">
      <a href="#" class="close" data-dismiss="alert">&#215;</a>
      <%= error_message %>
    </div>
  <% end %>
<% end %>
