<header class="masthead mb-auto">
  <div class="inner">
    <h3 class="masthead-brand">My Recipes</h3>
    <nav class="nav nav-masthead justify-content-center">
      <% navigation_items.each do |link| %>
        <%= link %>
      <% end %>
    </nav>
  </div>
</header>
