<div class="ingredient">
  <h5><%= ingredient.name %></h5>
  <p>
    Total Recipes is
    <%= pluralize(ingredient.recipes.count, "recipe") %>
  </p>
  <%= link_to "View More", ingredient, class: 'btn btn-primary' %>
</div>
