<h1 class="cover-heading">Welcome to MyRecipes</h1>
<p class="lead">The ultimate recipe sharing application written in Rails 5.2.</p>
<p class="lead">
  <p><%= link_to 'Signup', signup_path, class: "btn btn-lg btn-danger" %></p>
</p>
